.channel-container {
    .channel-list {
        margin-top: 32px;
        .channel-list-item {
            display: flex;
            margin: 20px;
            .index {
                width: 80px;
            }
            .channel-name {
                width: 160px;
            }
            .graph-bar {
                height: 36px;
                min-width: 30px;
                border-radius: 100%;
            }
        }
    }
}
.add-channel-container {
    padding: 60px 180px 60px 120px;
    .channel-preview {
        display: inline;
        align-items: center;
        padding: 6px 24px;
        color: #fff;
        font-weight: 800;
        border-radius: 100px;
        float:right;
        position: relative;
        top: 50px;
    }


    .wrapper-color-select {
        display: flex;
        flex-wrap: wrap;
        .color-item {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            margin: 3px;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
            &.selected {
                transform: scale(1.2);
            }
            &:before {
                position: absolute;
                transform: translate( -3px, -3px);
                content: '';
                width: 24px;
                height: 24px;
                border-radius: 2px;
            }
            &.selected:before {
                border: 1px solid #000;
            }
        }
    }
}