.post-container {
    padding-top: 56px;
    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 24px;
        .left {
            .channel {
                font-size: 18px;
                font-weight: 700;
                padding: 0px 14px;
            }
            .title {
                width: 100%;
                max-width: 340px;
                background-color: transparent;
                height: auto;
                min-height: 100px;
                font-size: 52px;
                font-weight: 600;
                margin: 12px 0px 0px;
                padding: 0px 12px;
                line-height: 64px;
                word-break: keep-all;
                transition: all 0.3s;
            }   
        }
        .right {
            margin-bottom: 4px;
            margin-right: 10px;
            font-size: 13px;
            text-align: right;
            .author {
                font-weight: 700;
                margin-bottom: 2px;
                span {
                    font-weight: 400;
                }
            }
            .date {
                color: $light-grey2;
            }
        }
    }
    .body {
        font-size: 16px;
        padding: 24px 16px;
        line-height: 1.82;
    }
}